*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

img{
    width: 100%;
}

header{
    background-color: #0084fd;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;

}

.card-text p{

    margin-bottom: 40px;
    text-align: center;
    color: white;
    


}

.btn-nav{
    display: none;
    padding: 15px 45px;
    border-radius: 50px;
    background-color: #fff;
}

.btn-nav a{
    color: black;

}


nav #menu-nav{

    color: white;


}

.menu-links{
    display: none;
    display: flex;
    flex-direction: row;
}

.menu-links ul{
    
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}

.menu-links ul li a{
    color: white;

}

.menu-links ul li, .menu-links ul a{
    display: none;
    text-decoration: none;
    list-style-type: none;
}

.main{
    padding: 50px 30px 80px;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px ;
    gap: 15px;

    height: auto;

    border-radius: 15px;

    background-color: #b5ddff;
}

.main .cards :nth-child(1){
    padding-bottom: 0;
}

.card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    
}

.main .card-text {
    align-items: flex-start;
    gap: 40px;
}

.main .card-text p {
    margin-bottom: 0;
    text-align: start;
    color: black;

}

.main .btn-card{
    align-self: flex-start;
}

.card-text h2 ,.card-text h3{
    color: #46a6fe;
}


.card-text .btn-card{
    border-radius: 50px;
    background-color: #0385fd;

   
    display: flex;
    gap: 10px;
    align-items: center;
    

    padding: 15px 45px;
    color: white;
    

}

.card-text .btn-card a{
    color: white;
    text-decoration: none;
}


.main .big-card-img {
    align-self: flex-end;
}
.main .big-card-img img{
    width: 100%;
}

.icon-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .icon-card .fa-solid{
    margin-bottom: 11px;
    font-size: 65px;
    color: #0385fd;

}


.icon-card h2{
   color: #0385fd;
}

.card .icon-text{
    text-align: center;
}


.purple{
    background-color: #9792e4;

}

#planning .img img{
    margin-bottom: 95px;
    width: 100%;
    
}

#planning .card-text p{
    color: black;
}

#planning .text-center p{
    text-align: start;
    color: white;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
}


.center .img-center{
    

    margin-bottom: 30px;
}

.text-center{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text-center h2{
    
    margin-bottom: 55px;
    color: white;
    text-align:start;
}

.text-center p{
    
    margin-bottom: 35px;
    text-align: center;

}

.center-card{
    background-color: white;
}

.img-center-card img{
    width: 100%;
}

.card-text h3{
    color: black;

}

.text-center-card p{
    text-align: center;


}

.btn-center-card{

    background-color: #9792e4;
    border-radius: 50%;
}

.btn-center-card .fa-solid{
    padding: 20px;
}

.text-center strong{
    font-weight: 300;
    align-self: center;
    margin-bottom: 15px;
}

#testimonial h2{
    text-align: center;
    
    color: #9792e4;
}

.testimonial-card .card{
    background-color: #9792e4;
}



.card-img img{
    width: 200px;
    min-height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#testimonial .card-text p::before{
    content: '\f10d';
    font-family: 'FontAwesome';

    margin-right: 10px;
    vertical-align: text-top;
}

#testimonial .card-text p::after{
    content: '\f10e';
    font-family: 'FontAwesome';

    margin-left: 10px;
}

#testimonial .card-text p{
    margin-bottom: 0;
}

#testimonial .card-text h2{
    color: white;
}


#benefits .card{
    background-color: white;
    border-radius: 10px;
    align-items: flex-start;
}

#benefits .text-center h2 {
    margin-bottom: 0;
}

#benefits .card-text{
    align-items: flex-start;
    
}

#benefits .card-text p{
    color: black;
    text-align: start;
}


#benefits .card-text h2{
    color: #9792e4 ;
    font-size: 35px;
}

#benefits .card-text h3 {
    font-size: 25px;
    color: #9792e4 ;

}



.btn-card{
    border-radius: 15px;
    background-color: #9792e4;
}

#benefits .btn-card{
    padding: 15px 45px;
    border-radius: 50px;

}


#benefits .btn-card a{
    color: white;
    text-decoration: none;
}

#about-us .center{
    align-items: flex-start;
}

#about-us .text-center :nth-child(2){
    margin-bottom: 24px;
}

#about-us .text-about-us{
    
   
    display: flex;
    flex-direction: column;
}
    

.text-about-us h2{
    font-size: 43px;
    color: #9893e4;

}

.text-about-us p{

    text-align: start;

}

#about-us .card{
    padding: 0;
    align-items: center;
    background-color: white;
}



#about-us .btn-card{
    background-color: #9792e4;
}

#about-us .card-text{
    align-items: baseline;
}


#about-us .card-text h2{
    color: #9792e4;
    
}

#get-started .text-center{
    align-items: center;
}


#get-started .text-center strong{
  color:  #b2aeea;
}

#get-started h3{
    font-size: 30px;
    color: white;
    margin-bottom: 15px;
    text-align: center;

}

#get-started h2{
    font-size: 60px;
    color: #fdc15f ;
}

#get-started p{
    color: white;
}

#get-started .btn-get-started{
    
    padding: 15px 45px;
    border-radius: 50px;
    
    margin-bottom: 30px;
    background-color: #fff;
}

#get-started .btn-get-started a{
    color:#9792e4 ;
    text-decoration: none;
}


.copyright{
    display: flex;
    gap: 2px;
    color: white;
}

.copyright a{
    color: white;
}

.footer{
    background-color: #333333;
}

footer.center{
    padding: 13px 18px;
}

.footer .text-center{
    display: flex;
    color: white;
}

.footer-links p{
    display: flex;
    gap: 10px;
}

footer .text-center :nth-child(2){
    margin-bottom: 0;
}


@media screen and (min-width:768px){
     .main .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: normal;
        justify-content: space-between;
        

    }

    .main .big-card{
        align-items: flex-start;
    }

    .main .big-card.card{
        width: calc(100% / 3 * 2 - 10px);

    }

    .main .card{
        flex-shrink: 1;
        flex-wrap: wrap;
        width:calc(100% / 3 - 15px);
    }
    #planning .center{
        padding: 65px 25px 32px;
        align-items: flex-end;
    }

    #planning .img-center{
        width: 100%;

        margin-bottom: 55px;
    }

    #planning .text-center p {
        margin-bottom: 20px;
    }
    #planning .center-card{
        padding: 18px 27px 15px ;
    }
    #planning .img-center-card{
        width: 100%;
       
    }
    #planning .text-center-card{
        align-items: center;
    }


    #testimonial.center{
        padding: 30px 15px ;
    }
    #planning .btn-center-card{
      
        border-radius: 50%;
    }

    #testimonial .text-center{
        width: 100%;
        align-items:center;

    }

    #testimonial .text-center p{
        width: 80%;
        margin-bottom: 30px;
    }

    #testimonial .testimonial-card.cards{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: row;
        gap: 16px;
    }

    #testimonial .testimonial-card .card{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: end;
        gap: 15px;
        padding: 15px 8px 22px;
    }

    #testimonial .card .card-text p{
        text-align: start;
        
    }

    #testimonial .card .card-text h2{
        align-self: flex-start;
        
    }

    #benefits .center{
        padding: 40px 15px 30px ;
    }

    #benefits .center.cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    
    #benefits .text-center {
        align-items: center;
    }

    #benefits .cards .card{
        width: calc(100% / 2 - 10px);

    }
    #benefits  h2{
        margin: 0;
    }

    #about-us{
        padding: 50px 30px 80px;
    }

    #about-us .center{
        display: flex;
        flex-direction: row;
       
        gap: 50px;
    }

    #about-us .text-center .card{
        margin-bottom: 0;
    }

    #about-us .card{
        align-items: flex-start;
    }


}


@media screen and (min-width:997px){
    nav, .main, .center{
        max-width: 997px;
        margin: 0 auto;
    }

    .menu-links, 
    .menu-links ul li,
    .menu-links ul a,
    .btn-nav{
        display: block;
    }


    #menu-nav{
        display: none;
    }

    .main .big-card.card{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .main .card-img{
        align-self: flex-end;
    }

    #benefits .cards .card{
        width: calc(100% / 3 - 10px);
    }

    #planning .center{
        display: flex;
        flex-direction: row;
    }

    #planning .center .img-center{
        display: flex;
        flex-direction: column;
       
        
    }


    #planning .center{
        gap: 40px;
        
    }


    #planning .img{
        margin-bottom: 65px;
    }


    #planning .text-center{
        gap: 30px;
    }

    #planning .center-card.card{
        margin-top: 150px;
    }

    .footer .footer-links a{
        display: inline-block;
    }
   



    @media screen and (min-width:1200px){
        nav, .main, .center{
            max-width: 1200px;
            margin: 0 auto;
        }

        #planning .center-card.card{
            margin-top: 150px;
        }


    }








