*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}


header{
    background-color: #0084fd;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;

}

nav #logo{
    width: 40px;
    height: 20px;
    background-color: aqua;

    /* test */

}


nav #menu-nav{
    width: 15px;
    height: 15px;
    background-color: aqua;

    /* test */
}

.main{
    padding: 18px 12px 30px;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 11px ;
    gap: 15px;
    
    width: 100%;
    height: auto;

    border-radius: 15px;

    background-color: #b5ddff;
}

.cards :nth-child(1){
    padding-bottom: 0;
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-text h2 ,.card-text h3{
    width: 88px;
    height: 10px;
    background-color: #0385fd;

    /* test */
}

.card-text p{
    max-width: 90px;
    min-height: 45px;
    background-color: #0385fd;

    /* tests */
}

.card-text .btn-card{
    max-width: 78px;
    min-height: 16px;
    border-radius: 15px;
    background-color: #0385fd;

    /* test */

}

.card-img{
    width: 75px;
    min-height: 102px;
    background-color: #0385fd;

    /* test */

}

.icon-card{


    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .icon-card .fa-solid{
    margin-bottom: 11px;
    font-size: 26px;
    color: #0385fd;
    


}


.icon-card h2{
    width: 42px;
    min-height: 7px;
    background-color: #0385fd;

    /* test */
}

.card .icon-text{
    width: 90px;
    min-height: 45px;
    background-color: #0385fd;

    /* test */
}


.purple{
    background-color: #9792e4;

}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 12px;
}


.center .img-center{
    width: 115px;
    min-height: 105px;
    background-color: #6338a1;

    /* test */

    margin-bottom: 30px;
}

.text-center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-center h2{
    width: 115px;
    min-height: 15px;
    background-color: #6338a1;
     
    /* test */
    margin-bottom: 20px;
}

.text-center p{
    width: 115px;
    min-height: 60px;
    background-color: #6338a1;
     
    /* test */

    margin-bottom: 12px;
}

.center-card{
    background-color: white;
}

.img-center-card{
    width: 88px;
    min-height: 100px;
    background-color: #6338a1;
     
    /* test */
}

.card-text h3{
    background-color: #6338a1;

    /* test */

}

.text-center-card p{
    background-color: #6338a1;

    /* test */


}

.btn-center-card{
    width: 15px;
    min-height: 15px;

    /* test */

    background-color: #9792e4;
    border-radius: 50%;
}

.text-center strong{
    width: 44px;
    min-height: 8px;
    background-color: #9792e4;

    /* TEST */
    align-self: center;
    margin-bottom: 15px;
}

.testimonial-card .card{
    background-color: #9792e4;
}

.testimonial-card :nth-child(1){
    padding:14px 11px;
}

.testimonial-card .card-img{
    width: 70px;
    min-height: 70px;
    border-radius: 50%;
}


#benefits .card{
    background-color: white;
    border-radius: 10px;
    align-items: flex-start;
}

#benefits .card .btn-card{
    width: 50px;
    min-height: 15px;

    /* test */
    
    border-radius: 15px;
    background-color: #9792e4;
}



