*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

#planning .img{
    min-height: 20%;
    background-color: #6338a1;

    /* test */
}

header{
    background-color: #0084fd;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;

}

.card-text p{
    width: 20%;
    min-height: 10px;
    background-color: #fff;

    /* test */
}

nav #logo{
    width: 40px;
    height: 20px;
    background-color: aqua;

    /* test */

}


nav #menu-nav{
    width: 15px;
    height: 15px;
    background-color: aqua;

    /* test */
}

.menu-links{
    
    display: flex;
    flex-direction: row;
}

.menu-links ul{
    
    display: flex;
    gap: 12px;
    text-decoration: none;
}

.menu-links ul li, a{
    display: none;
    text-decoration: none;
    list-style-type: none;
}

.main{
    padding: 18px 12px 30px;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 11px ;
    gap: 15px;
    
    width: 100%;
    height: auto;

    border-radius: 15px;

    background-color: #b5ddff;
}

.main .cards :nth-child(1){
    padding-bottom: 0;
}

.card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    min-height: auto;
}

.main .card-text {
    align-items: flex-start;
}

.main .btn-card{
    align-self: flex-start;
}

.card-text h2 ,.card-text h3{
    width: 88px;
    height: 10px;
    background-color: #0385fd;

    /* test */
}


.card-text .btn-card{
    max-width: 78px;
    min-height: 16px;
    border-radius: 15px;
    background-color: #0385fd;

    /* test */

}

.card-img{
    width: 75px;
    min-height: 102px;
    background-color: #0385fd;

    /* test */

    



}

.icon-card{


    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .icon-card .fa-solid{
    margin-bottom: 11px;
    font-size: 26px;
    color: #0385fd;
    


}


.icon-card h2{
    width: 42px;
    min-height: 7px;
    background-color: #0385fd;

    /* test */
}

.card .icon-text{
    width: 90px;
    min-height: 45px;
    background-color: #0385fd;

    /* test */
}


.purple{
    background-color: #9792e4;

}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 12px;
}


.center .img-center{
    width: 115px;
    min-height: 105px;
    

    /* test */

    margin-bottom: 30px;
}

.text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.text-center h2{
    width: 30%;
    min-height: 15px;
    background-color: #6338a1;
     
    /* test */
    margin-bottom: 20px;
}

.text-center p{
    width: 40%;
    min-height: 60px;
    background-color: #6338a1;
     
    /* test */

    margin-bottom: 12px;
}

.center-card{
    background-color: white;
}

.img-center-card{
    width: 88px;
    min-height: 100px;
    background-color: #6338a1;
     
    /* test */
}

.card-text h3{
    background-color: #6338a1;

    /* test */

}

.text-center-card p{
    background-color: #6338a1;

    /* test */


}

.btn-center-card{
    width: 15px;
    min-height: 15px;

    /* test */

    background-color: #9792e4;
    border-radius: 50%;
}

.text-center strong{
    width: 20%;
    min-height: 8px;
    background-color: #9792e4;

    /* TEST */
    align-self: center;
    margin-bottom: 15px;
}

.testimonial-card .card{
    background-color: #9792e4;
}

.testimonial-card :nth-child(1){
    padding:14px 11px;
}

.testimonial-card .card-img{
    width: 70px;
    min-height: 70px;
    border-radius: 50%;
}


#benefits .card{
    background-color: white;
    border-radius: 10px;
    align-items: flex-start;
}

.btn-card{
    width: 50px;
    min-height: 15px;

    /* test */
    /* align-self: center; */
    border-radius: 15px;
    background-color: #9792e4;
}

#about-us .text-center :nth-child(2){
    margin-bottom: 24px;
}

#about-us .text-about-us{
    
    min-height: 20px;
    /* test */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.text-about-us h2, .text-about-us p{
    width: 20%;
    min-height: 10px;
    color: blue;

    /* test */
}

#about-us .card{
    align-items: center;
    background-color: white;
}

#about-us .card-img{
    width: 65px;
    min-height: 65px;
    border-radius: 50%;

    /* test */

}


#about-us .card-text h2{
    min-height: 50px ;

    /* test */
}

#get-started .text-center{
    align-items: center;
}


#get-started .text-center strong{
    background-color:  #6338a1;

    /* test */
}

#get-started h3{
    width: 50%;
    min-height: 27px;
    background-color:  #6338a1;

    /* test */
    margin-bottom: 15px;

}

#get-started .btn-get-started{
    width: 20%;
    min-height: 25px;
    background-color: white;

    /* test */
    margin-bottom: 10px;
    border-radius: 15px;
}

.copyright{
    width: 30%;
    min-height: 15px;
    background-color: #fff;
}

.footer{
    background-color: #333333;
}

footer.center{
    padding: 13px 18px;
}

footer .text-center :nth-child(2){
    margin-bottom: 0;
}


@media screen and (min-width:768px){
     .main .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: normal;
        justify-content: space-between;
        

    }

    .main .big-card{
        align-items: flex-start;
    }

    .main .big-card.card{
        width: calc(100% / 3 * 2 - 10px);

    }

    .main .card{
        flex-shrink: 1;
        flex-wrap: wrap;
        width:calc(100% / 3 - 15px);
    }
    #planning .center{
        padding: 65px 25px 32px;
        align-items: flex-start;
    }
    #planning .img-center{
        width: 100%;
        /* test */
        height: 300px;
        /* fine test */

        margin-bottom: 55px;
    }

    #planning .text-center{
        width: 100%;
    }

    #planning .text-center h2 {
        width: 100%;
    }

    #planning .text-center p {
        width: 100%;
        margin-bottom: 20px;
    }
    #planning .center-card{
        padding: 18px 27px 15px ;
    }
    #planning .img-center-card{
        width: 100%;
        height: 300px;
    }
    #planning .text-center-card{
        width: 100%;
        align-items: center;
    }

    #planning .text-center-card h3{
        width: 100px;
        min-height: 17px;

        /* test */
    }

    #planning .text-center-card.card-text p{
        width: 320px;
        min-height: 25px;

        /* test */
    }
    #testimonial.center{
        padding: 30px 15px ;
    }
    #planning .btn-center-card{
      
        width: 22px;
        height: 22px;
        border-radius: 50%;
    }

    #testimonial .text-center{
        width: 100%;
        align-items:center;

    }

    #testimonial .text-center p{
        width: 80%;
        margin-bottom: 30px;
    }

    #testimonial .testimonial-card.cards{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
       align-items: flex-start;
        flex-direction: row;
        gap: 16px;
    }

    #testimonial .testimonial-card .card{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        padding: 15px 8px 22px;
    }

    #testimonial .testimonial-card .card .card-img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    #testimonial .card .card-text{
        width: 226px;
    }

    #testimonial .card .card-text p{
        background-color: #fff;
    }

    #testimonial .card .card-text h2{
        height: 20px;
        background-color: #fff;
    }

    #benefits .center{
        padding: 40px 15px 30px ;
    }

    #benefits .center.cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    
    #benefits .text-center {
        align-items: center;
    }

    #benefits .cards .card{
        width: calc(100% / 2 - 15px);

    }
    #benefits  h2{
        margin: 0;;
    }

    #about-us{
        /* display: flex;
        flex-direction: row;
        justify-content: space-between; */
        padding: 50px 30px 80px;
    }

    #about-us .center{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        width: 100%;
    }

    #about-us .text-about-us{
        width: 100%;
    }

    #about-us .text-center .card{
        margin-bottom: 0;
    }

    #about-us .card{
        align-items: flex-start;
    }

    #about-us .text-center{
        align-items: flex-end;
    }

}


@media screen and (min-width:997px){
    nav, .main, .center{
        max-width: 997px;
        margin: 0 auto;
    }

    .menu-links ul li, a{
        display: block;
    }

    #menu-nav{
        display: none;
    }

    .main .big-card.card{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .main .card-img{
        align-self: flex-end;
    }

    #benefits .cards .card{
        width: calc(100% / 3 - 15px);
    }

    #planning .center{
        display: flex;
        flex-direction: row;
    }

    #planning .center .img-center{
        display: flex;
        flex-direction: column;
       
        
    }


    #planning .center{
        gap: 40px;
        
    }


    #planning .img{
        margin-bottom: 65px;
    }


    #planning .text-center{
        gap: 30px;
    }

    #planning .center-card.card{
        margin-top: 80px;
    }

   



    @media screen and (min-width:1200px){
        nav, .main, .center{
            max-width: 1200px;
            margin: 0 auto;
        }

    }








